SECRET_KEY=change-me
DATABASE_URL=postgresql+psycopg://bloguser:blogpass@localhost/blog
FRONTEND_URL=http://localhost:8000

COMFYUI_BASE_URL=http://127.0.0.1:8188
COMFYUI_WORKFLOW_PATH=workflows/motion_transfer.json
COMFYUI_ANIMATEDIFF_WORKFLOW_PATH=workflows/animatediff.json
COMFYUI_MINIMAX_WORKFLOW_PATH=workflows/minimaxH3.json
COMFYUI_WAN_T2V_WORKFLOW_PATH=workflows/motion_transfer_2.json
DATA_DIR=data
